.footer {
  text-align: center;
  padding: 60px;
  background-color: rgb(249, 222, 171)
}

.footer a {
  font-size: 50px;
  color: orange;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}
